.footer{
    background: rgb(113, 113, 113);
    margin:0px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px soild #5a5a5a;
    padding: 15px 15px;
}
.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}